html { font-family: sans-serif; }
body { margin: 0; }
img { border: 0; }
header h1 { margin: 0.3em 2em; font-size: 3em;
            font-family: Helvetica, sans-serif; }
header h1 a { text-decoration: none; color: black; }
header, #content { margin: 0 auto; width: 90%; }

.hot.selected { border-bottom: none; }
.hot { cursor: pointer; border-bottom: dashed; border-width: 1px;
       padding-top: 1px;}

input[type="submit"] { font-size: 1.5em; width: 5em; }
#text { width: 100%; height: 20em; margin: 0.5em 0; }
.highlighttable { border-spacing: 1em 0; }
#text, .highlighttable { font-family: monospace; font-size: 1.1em; }

.meta { background-color: #f5f5f5; padding: 0.5em;
        border-top: 1px dashed #bbb; border-bottom: 1px dashed #bbb; }
.note { color: grey; padding: 1px 0; }
.right { float: right; }

#footer { border-top: solid 1px; background-color: #f5f5f5; margin: 1em 0 0 0;
          padding: 0.5em; }
#footer p { text-align: right; margin: auto 2em; }
#footer a { color: black; }
