html { font-family: sans-serif;
       background-color: white; /* for those with strange default color ;-) */}
body { margin: 0; }
img { border: 0; }
header, #content { margin: 0 auto; width: 90%; }
header h1 { margin: 0.3em 5%; font-size: 3em;
            font-family: Helvetica, sans-serif; }
h1 a, h2 a, h3 a { text-decoration: none; color: black; }
p { line-height: 1.2em; }

.hot.selected { border-bottom: none; }
.hot { cursor: pointer; border-bottom: dashed; border-width: 1px;
       padding-top: 1px;}

input[type="submit"] { font-size: 1.5em; width: 5em; }
#text { width: 100%; height: 20em; margin: 0.5em 0; border-radius: 5px;
        -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.highlighttable pre { line-spacing: 125%; } /* fix ie */
.highlighttable { border-spacing: 0; width: 100%; }

td.linenos, pre, textarea, code {
    font-family: Monaco, Consolas, 'Courier New', monospace; font-size: 0.8em; }
code { font-size: 1em; }

td { padding: 1px 0; }
td.linenos { width: 1px; }
.linenos a { cursor: pointer; background-color: #f5f5f5; text-align: right;
             text-decoration: none; color: black; display: block;
             padding: 0 0.3em;}
.line { width: 100%; padding-left: 1em; }

.line.over, .linenos a.over { background-color: #ffffe3; }
.line.selected, .linenos a.selected { background-color: #fafab0; }
.linenos a.selecting { background-color: #b0b0fa; }

.meta { background-color: #f5f5f5; padding: 0.5em;
        border-top: 1px dashed #bbb; border-bottom: 1px dashed #bbb; }
.note { color: grey; padding: 1px 0; }
.right { float: right; }

#footer { border-top: solid 1px; background-color: #f5f5f5; margin: 1em 0 0 0;
          padding: 0.5em; }
#footer p { text-align: right; margin: auto 2em; }
#footer a { color: black; }
